header h1 {
	font-size: 3em;
	font-family: 'Playfair Display', serif;
}

body {
	margin: 0 auto;
	max-width: 50em;
  background-color: #d5ca9f;
}

body {
	text-align: center;
	color: #555;
}

li a {
	color: #555;
	text-decoration: none;
}

#nav-bar {
	height: 3em;
}

#nav-bar {
	border-bottom: 2px solid #555;
	border-top: 2px solid #555;
}

#nav-links {
	height: 100%;
	list-style-type: none;
	margin: 0 10% 0 10%;
	padding: 0;
}

#nav-links li {
	height: 100%;
	display: inline-block;
	width: 20%;
}

#nav-links li {
	text-align: center;
}

#nav-links li a {
	display: block;
	margin-top: .8em;
}

#nav-links li:hover {
	background-color: #ececec;
}

#nav-links li a {
	font-family: 'Fauna One', serif;
}

.item-individual {
  width: 25%;
  background-color: #edead6;
  /*
  background-color: #d5ca9f;
  */
  float: left;
 
}

.item-individual h3 {
  text-align: center;
}

.item-image-container img {
  
  width: 150px;
  height: auto;
}

.content-bottom-text-left {
  width: 50%;
  float: left;
  border-bottom: 2px solid #555;
}

.content-bottom-text-right {
  width: 50%;
  float: right;
  border-bottom: 2px solid #555;
}

footer {
	display: block;
	width: 100%;
	border-top: 2px solid #555;
}

#copyright {
	display: inline-block;
	float: left;
}

#social-info {
	display: inline-block;
	float: right;
}

#social-info i {
	margin: 0 auto;
}